<div class="w-full">
  <div class="flex justify-center gap-8 items-center">
    <div class="border-b-1 border-white/30 grow"></div>
    <div class="text-center uppercase text-white opacity-60 whitespace-nowrap">Tags</div>
    <div class="border-b-1 border-white/30 grow"></div>
  </div>
  <div class="flex flex-wrap justify-center gap-2 mt-4 mb-4">
    {{ $currentPage := . }}
    {{ $isAllActive := and $currentPage.IsSection (eq $currentPage.RelPermalink "/blog/") }}
      {{ if $isAllActive}} 
        <a href="/blog/" class="uppercase text-tl-grey-1 bg-tl-lime hover:text-tl-grey-1 py-1 px-4 rounded-full text-sm font-semibold  hover:bg-tl-lime">all</a>
      {{ else }} 
        <a href="/blog/" class="uppercase text-white hover:text-tl-grey-1 py-1 px-4 rounded-full text-sm font-semibold bg-tl-grey-2/20 hover:bg-tl-lime">all</a>
      {{ end }}
    
    
    {{ $blogDir := "content/blog" }}
    {{ $subdirs := readDir $blogDir }}
    {{ range $subdirs }}
      {{ if .IsDir }}
        {{ $tagURL := printf "/blog/%s/" (.Name | urlize) }}
        {{ $isActive := eq $currentPage.RelPermalink $tagURL }}
        {{ if $isActive }}
          <a href="{{ $tagURL }}" class="uppercase text-tl-grey-1 bg-tl-lime hover:text-tl-grey-1 py-1 px-4 rounded-full text-sm font-semibold hover:bg-tl-lime">{{ .Name }}</a>
        {{ else }}
          <a href="{{ $tagURL }}" class="uppercase text-white hover:text-tl-grey-1 py-1 px-4 rounded-full text-sm font-semibold bg-tl-grey-2/20 hover:bg-tl-lime">{{ .Name }}</a>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
</div>