<div class="p-4 max-w-screen-xl mx-auto">
  <div class="flex flex-col lg:flex-row items-center lg:items-end">
    
    <div class="w-full lg:w-6/12 flex items-center justify-center py-32 relative max-w-md lg:max-w-full">
      <div class="aspect-square overflow-hidden w-56 lg:w-72 rounded-tl-xl relative z-20">
        {{ $img := resources.Get "images/home.jpg" }}
        <img src="{{ $img.RelPermalink }}" class="absolute top-0 left-0 w-full h-full object-cover" alt="">
        <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-tl-lime/70 to-50% to-transparent"></div>
      </div>
      <img class="absolute left-0 bottom-16 lg:left-8 w-48 h-auto z-10" src="/globe.svg" alt="">
      <img class="absolute top-32 right-4 lg:right-16 w-24 lg:w-36 h-auto z-20" src="/gradient-arrow.svg" alt="">
      <img class="absolute top-16 left-0 lg:left-16 w-24 lg:w-36 h-auto z-10" src="/stars-white-bg.svg" alt="">
      <img class="absolute bottom-24 right-8 lg:right-16 w-56 h-auto z-10" src="/curved-line.svg" alt="">
    </div>

    <div class="w-full lg:w-6/12 py-16">
      <p class="opacity-30 mb-4">Transformation Through Technology</p>
      <h1 class="uppercase text-2xl lg:text-5xl font-semibold lg:leading-14">Empowering Global Leaders and Innovators Through Technology</h1>
      <div class="flex gap-4 mt-16 lg:mt-24">
        <a class="px-4 py-1 text-tl-grey-1 hover:text-white bg-tl-lime hover:bg-tl-teal rounded-full uppercase font-semibold text-sm" href="">Get started</a>
        <a class="inline-block uppercase py-1 px-4 rounded-full font-semibold text-white bg-white/10 hover:bg-tl-lime hover:text-tl-grey-1 text-sm" href="">Discover</a>
      </div>
    </div>
  </div>
</div>