<div class="p-4">
  <div class="flex flex-col lg:flex-row lg:justify-between gap-8">
    
    {{ partial "menus/footer_company.html" . }}
    {{ partial "menus/footer_quick_links.html" . }}
    {{ partial "menus/footer_social.html" . }}

    <aside class="mt-8 uppercase font-semibold lg:w-full lg:text-right leading-8">
      <div class="flex gap-8">
        <a class="hover:text-tl-lime" href="mailto:info@tinlake.com">info@tinlake.com</a>
        <a class="whitespace-nowrap hover:text-tl-lime" href="tel:+1 (814) 300-8240">+1 (814) 300-8240</a>
      </div>
      <div>
        8 The Green, Dover, DE 19901, USA
      </div>
    </aside>

  </div>
  
  <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center border-t-1 border-tl-grey-1 mt-8 pt-10 mb-8">
    <div class="mb-4">
      <a href="{{ .Site.BaseURL }}" class="relative z-20">
        <img src="/{{.Site.Params.identity.logo}}" alt="logo" >
      </a>
    </div>

    {{ partial "menus/footer_legal.html" . }}

    <div class="opacity-30 text-sm mb-4">Copyright &copy; 2025 Tinlake Inc.</div>
  </div>  
</div>