<div class="p-4 bg-black">
  <nav>
    <p>Company</p>
    <ul>
      <li>
        <a href="">About</a>
      </li>
      <li>
        <a href="">Blog</a>
      </li>
      <li>
        <a href="">Contact</a>
      </li>
    </ul>
  </nav>

  <nav>
    <p>Quick links</p>
    <ul>
      <li>
        <a href="">Service</a>
      </li>
      <li>
        <a href="">About</a>
      </li>
      <li>
        <a href="">Blog</a>
      </li>
      <li>
        <a href="">Pricing</a>
      </li>
    </ul>
  </nav>

  <nav>
    <p>Follow us</p>
    <ul>

    </ul>
  </nav>

  <aside></aside>

  <hr>

  <div></div>

  <nav></nav>

  <div></div>
</div>