<div class="px-8 py-12 rounded-xl rounded-tr-none bg-black/60 mb-16">
  <h3 class="text-center mt-4 mb-8 uppercase text-2xl font-semibold">Send message</h3>
  <form class="flex flex-col gap-2 mx-auto max-w-screen-sm">
    <input class="border-0 text-white border-b-2 border-white/60 active:border-tl-lime hover:border-tl-lime/60 py-2" type="text" placeholder="Name">
    <input class="border-0 text-white border-b-2 border-white/60 active:border-tl-lime hover:border-tl-lime/60 py-2" type="email" placeholder="Email">
    <textarea class="border-0 text-white border-b-2 border-white/60 active:border-tl-lime hover:border-tl-lime/60 py-2 h-20" placeholder="Message"></textarea>
    <input class="px-4 py-2 text-tl-grey-1 hover:text-white bg-tl-lime hover:bg-tl-teal rounded-full max-w-20 uppercase font-semibold text-sm mt-4 mx-auto" type="submit" value="Send">
  </form>
</div>