<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<div id="js-map" class="rounded-xl rounded-tr-none overflow absolute top-0 left-0 w-full h-full [&>.leaflet-tile-pane]:grayscale"></div>

<script>
  const map = L.map('js-map').setView([30, 25], 2);

	L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(map);

	const LeafIcon = L.Icon.extend({
		options: {
			iconSize:     [48, 58],
			iconAnchor:   [24, 58]
		}
	});

	const contactIcon = new LeafIcon({iconUrl: '/map-marker.svg'});

  {{ range .Site.Data.offices }}
    L.marker([{{ .lat }}, {{ .long }}], {icon: contactIcon}).addTo(map);
  {{ end }}
</script>